.tot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
}

.header{
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    margin: 48px;
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
    padding: 5px;
}

h2{
    text-align: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
    

}
.top{
    background-color: #1F2937;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color: antiquewhite;
}

body{
    margin: 0%;
}

.left{
    font-size: 24px;
    font-weight: 800;

    
}

.first{
    display: flex;
    margin: 48px;
    justify-content: space-between;
}

.col{
    display: flex;
    flex-direction: column;
    color: antiquewhite;
}

#rig{
    height: 200px;
    width: 400px;
    border-radius: 10px;
}

button{
    background-color: #3882F6;
    color: antiquewhite;
    border-radius: 8px;
    height: 30px;
    width: 80px;
    margin-top: 10px;
    font-weight: 700;
    text-decoration: none;
    
}

.second{
    
}